<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Authentication</title>
  <link rel="stylesheet" href="/css/main.css">
</head>
<body>
  <nav>
    <!-- Put links that you want to display at all times
         outside of the if/else 
    -->
    <a href="/">💧</a>
    <h1>PoolUp</h1>
    <div>
      <% if (user) { %>
        <a href="/pools/new">Add Pool</a>&nbsp;&nbsp;
        <a href="/pools">All Pools</a>&nbsp;&nbsp;
        <a href="/pools/user">My Pools</a>&nbsp;&nbsp;
        <a href="/auth/logout">Log Out</a>&nbsp;&nbsp;
        <span>💧<%= user.username %></span>
      <% } else { %>
        <a href="/auth/sign-up">Sign Up</a>
        <a href="/auth/login">Log In</a>
      <% } %>
      </div>
  </nav>
  <main>

<h1>Homeeeeee</h1>

<%- include('./partials/footer.ejs') %>