<%- include('./partials/header.ejs') %>

<h1>Welcome to the PoolUp app!</h1>
<section id="hero">
  <h1>Discover and Review the Best Competitive Pools</h1>
  <p>Find, manage, and review pools with ease.</p>
  <a href="/auth/sign-up" class="cta-button">Get Started</a> or
  <a href="/auth/login" class="cta-button">Log In</a>
</section>
<%- include('./partials/footer.ejs') %>
